*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

body{
  background: rgb(245, 245, 237);
}

.navegacion{
  width: 100%;
  height: 30vw;
  background: url('Imagenes/banner.jpg');
  text-align: center;
}

.navegacion ul{
  list-style: none;
}

.menu li{
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}

.menu li a{
  display: block;
  padding: 15px 20px;
  color: rgb(245, 125, 161);
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  font-size: 20px;
}

.menu li a:hover{
  color:  rgb(244, 205, 214);
  transition: all .3s;
}

.submenu{
  position: absolute;
  background: rgb(245, 235, 247);
  display: none;
  transition: all .4s;
  width: 90%;
}

.submenu li{
  margin-left: 0;
}

.submenu li a{
  display: block;
  padding: 15px;
  font-size: 15px;

}

.menu li:hover .submenu{
  display: block;
}

#logo{
  width: 20%;
  padding: 10px;
  margin-top: 10px;
  display: inline;
}

.redes{
  float: right;
}

nav .redes li{
  position: relative;
  display: inline;
  padding: 0px;
  font-size: 20px;
  right: 10px;
  top: 5px;
}

nav .redes li a{
  color: black;
}

nav .redes li a:hover{
  color: rgb(245, 125, 161);
}

h2{
  font-family:'Roboto Condensed', sans-serif;
  color: rgb(245, 125, 161);
  position: relative;
  left: 40px;
  font-size: 100px;
}

main .shows li{
  position: relative;
  left: 40px;
}

main li a{
  font-family:'Roboto Condensed', sans-serif;
  color: white;
}

.show1, .show2, .show3, .show4, .show5, .show6{
  height: 20px;
  width: 50%;
  background: rgb(117, 134, 242);
  margin-bottom: 4px;
}
